<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Stats</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    {{ data.system }}<br>
    {{ data.machine }} <br>
    <div style="width: 75%; margin: auto;">
        <canvas id="chart"></canvas>
    </div>
    <script>
        //  data = {
        //     "cpu_percent": cpu_percent,
        //     "virtual_memory": virtual_memory,
        //     "swap_memory": swap_memory,
        //     "disk_usage": disk_usage,
        //     "disk_io_counters": disk_io_counters,
        //     "net_io_counters": net_io_counters
        // }
        $(document).ready(function() {
            $.ajax({
                url: '/data',
                method: 'GET',
                success: function(data) {
                    var data = JSON.parse(data);
                    var ctx = document.getElementById('chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [
                                {
                                    label: 'CPU Percent',
                                    data: data.cpu_percent,
                                    borderColor: 'red',
                                    fill: false
                                },
                                {
                                    label: 'Virtual Memory',
                                    data: data.virtual_memory,
                                    borderColor: 'blue',
                                    fill: false
                                },
                                {
                                    label: 'Swap Memory',
                                    data: data.swap_memory,
                                    borderColor: 'green',
                                    fill: false
                                },
                                {
                                    label: 'Disk Usage',
                                    data: data.disk_usage,
                                    borderColor: 'purple',
                                    fill: false
                                },
                                {
                                    label: 'Disk IO Counters',
                                    data: data.disk_io_counters,
                                    borderColor: 'orange',
                                    fill: false
                                },
                                {
                                    label: 'Net IO Counters',
                                    data: data.net_io_counters,
                                    borderColor: 'black',
                                    fill: false
                                }
                            ]
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>